/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-family: "raleway", sans-serif;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
                        width: 100%; 
                        height: 120px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

.barre-de-navigation {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.barre-de-navigation a:hover{
    color:var(--main-color);
}

#hebergement, #activite {
    margin-bottom: 20px; /* espace entre le titre et les cartes */
    margin-top: 20px;
}


.image-chambre-hotel img{
    border-radius: 10px;
                    width: 100%;
                    height: 120px;
                    object-fit: cover;
                    display: block;
}

.image-chambre-hotel{ 
    
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}



.info-message {
    color: #7a7a7a; /* gris du texte */
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px; /* espace entre l’icône et le texte */
}

.info-message {
    color: #7a7a7a;
    display: flex;
    align-items: center;
    gap: 8px;
}

.info-icon {
    background-color: white;      /* fond blanc */
    color: var(--main-color);     /* symbole bleu */
    border: 2px solid #ffffff;      /* bordure blanche */           
   border-radius: 50%;          /* forme circulaire */
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.activite-marseille {
    display: flex;
    gap: 5px;              /* espace entre les cartes */  
    flex-wrap: nowrap;   
    justify-content: center;
}


.activite {
    width: 340px;           /* largeur de chaque carte */
    background-color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-align: center;
}

.activite img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0;
   
}


.activite h3 {
    margin: 10px 0;
    padding: 18px;
    color: #333;
}



